.eventlist {
    display: flex;
    flex-wrap: wrap;
}
.outerentry {
    background-color: rgb(27, 82, 27);    
    border-left: solid 1px #7c9200;
    border-right: solid 1px #adb489;
    border-top: solid 1px #7c9200;
    border-bottom: solid 1px #adb489;
    border-radius: 3px;
    padding: 10px;
    max-width: 400px;
    width: 400px;
    margin: 5px;
}