<div class="innerentry">
  {{calendarEvent.name}} {{calendarEvent.id}}
  <h2>{{ calendarEvent.dateTime | dateTimeFormat}}</h2>
  <app-replytoevent [calendarEvent]="calendarEvent"></app-replytoevent>
  <app-eventreplys [calendarEvent]="calendarEvent"></app-eventreplys>  
  <button *ngIf="currentUser?.admin" (click)="toggleEdit()">Edit</button>
  <div *ngIf="editMode">
    <app-editevententry [calendarEvent]="calendarEvent" [calendarEvents]="calendarEvents"></app-editevententry>
  </div>
  
</div>
