.loginform {
    width: 300px;    
    margin:auto;

    background-color: rgb(27, 82, 27);    
    margin: 50% 0 10px 0;
    border-left:solid 1px #7c9200;
    border-right:solid 1px #adb489;
    border-top:solid 1px #7c9200;
    border-bottom:solid 1px #adb489;
    border-radius: 3px;
    padding: 10px;
    
}
.loginform .inputwrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.loginform .buttonwrapper {
    padding: 10px;
    display: flex;
    width:100%;
    justify-content:center;
}
.loginform label {
    width: 50%;
    
}
.loginform input {
    width: 40%;
}
