<table class="userlist">
  <tr>
    <td>Name</td>
    <td>Passwort</td>
    <td>Admin</td>
  </tr>
  <tr class="outerentry" *ngFor="let userEntry of calendarUsers">
    <td>
        <input class="textfield" type="text" [(ngModel)]="userEntry.name" placeholder="" />        
    </td>
    <td>
        <input class="textfield" type="text" [(ngModel)]="userEntry.password" placeholder="" />
    </td>
    <td>
        <mat-checkbox [(ngModel)]="userEntry.admin">Admin</mat-checkbox>
    </td>
    <td>
      <button
        type="button"
        class="delete"
        title="delete Event"
        (click)="delete(userEntry)"
      >
        x
      </button>
      <button
        type="button"
        class="update"
        title="update Event"
        (click)="update(userEntry)"
      >
        Speichern
      </button>
    </td>
  </tr>
</table>
<button type="button" class="addnew" title="Neuen Benutzer anlegen" (click)="addUser()">Neuer Benutzer</button>
