<mat-form-field class="example-full-width">
  <mat-label>Titel</mat-label>
  <input matInput  [(ngModel)]="calendarEvent.name" placeholder="">
</mat-form-field>
<mat-form-field>
  <mat-label>Datum</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="calendarEvent.dateTime"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button type="button" class="delete" title="delete Event"
(click)="delete(calendarEvent)">x</button>
<button type="button" class="update" title="update Event"
(click)="update(calendarEvent)">Speichern</button>